<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About </title>
</head>
<body>
    <div class="container" style="text-align: center">

        {% include "navb.html" %}
        
        <h1> About Us. </h1>
        <p>Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Ratione, sapiente provident? 
            Cum ratione maiores quam quisquam autem, 
            ab eligendi ut architecto voluptatem itaque accusamus aperiam enim recusandae
            perspiciatis officiis eaque nam magni odio! Blanditiis ullam animi
            quidem eos perspiciatis cum ut quo odit excepturi. 
            Quam laboriosam quo error porro atque!</p>
            <button> Contact Us.</button>
    </div>
</body>
</html>